body {
    background-color: aliceblue
}

.head > h1 {    
    font-size: 50px;
    font-style: oblique;
    margin: 15px 0px
}

.head {
    text-align: center;
}

.content {
    border: 1px solid black;
    width: 100%;
}

.layers-div {
    width: 20%;
    float:left;
    text-align: left;    
}

.layers-div > input {
    margin: 10px 0px 10px 30px;
}

.layers-div > h1 {
    margin: 10px 0px 10px 10px;
}

.layers-div > span {
    margin-left: 10px;
    font-size: 25px;
}

.layers-div > div > span {
    margin: 10px 10px;
    font-size: 25px;
}

.map-div {
    text-align: center;
    float: right;
    width: 80%;
}

.map {
    border-top: 2px solid black;
}

#feature-info {
    margin: 20px 10px;
}

.radioBtns {    
    margin: 10px 7px 20px 7px;
    display: none;
}

.radioBtns > span {
    font-size: 18px !important;
}

iframe {
    height: 90px !important;
}

.webServiceBtns {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}



.filterContainer{
    margin: 10px;
}

.radiusForPoint{
    display: none;
    margin: 10px;
}
.filter-chb {
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}

/*-------------------------------------------*/
#slider {
    width: 85%;
    /*margin: 0 auto;*/
    float: left;
    margin-left: 13px;
    margin-right: 13px;
}

.sliderBounds {
    float: left;
}

#sliderContainer {
    margin: 10px;
}


/*---------------------------------------------*/


